.surround {
    /* width:50%; */
    /* height: 50vh;     */
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(243, 220, 177);
    opacity:1;
    border:5px solid rgb(255, 145, 0);
    border-radius: 10px; */
}
.number{
    position: relative;
    margin:10% auto;
    width: 50px;
    padding-top: 2%;
    border: 1px solid black;
    height: 50px;
    font-size: 1.5em;
    background-color: rgb(185, 122, 122);
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    outline-color: blue;

}
.number::after{
    border: 1px solid green;

}
.header{
    display: flex;
    justify-content: flex-start;

    font-size: 300%;
    margin: 3% 30%;
    color:black;
    
}
.hletter{
   
  text-shadow: 2px 2px 8px #FF0000;
    -webkit-text-stroke: white;
}

.items{
    /* position: ; */
    /* top:50%; */
    /* left:50%; */
    margin: auto auto ;
    height: 400px;
    /* margin-right:10px ; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin:0px auto; */
}
.item2{
    margin: 2% auto;
}
.line{
    border:2px solid black;
}





a:hover {
    color:rgb(179, 165, 165);
}
.footer{
    font-size: 0.8em;
    position: fixed;
    left: 12%;
    bottom: 10%;
    width: 80%;
    color: black;
    margin: 5% auto;
}